
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  background-color: black;
}

.splash-container {
    background-image: url(assets/bpa.jpg);
    height:798px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	padding-top: 70px; 
}

.ranger-theme {
	background-color: rgba(255, 255, 255, 0.5);
	color: inherit;
	opacity: .8
  z-index: 0;
}

.ranger-text {
	color:#002b80;
}

.inner {
	margin: 0 auto;
}

/* Player */

.player-body {
	background-image: url(assets/green-wood.jpg);
	background-repeat: repeat;
}

.player-name {
  margin-top:25px;
}

.player-photo {
  margin-left: auto;
  margin-right: auto;
  z-index: 1000 !important;
}

.indiv-stats-player-photo {
  width: 200px;
  height: 300.469px;
  margin-left: auto;
  margin-right: auto;
}

.indiv-stats-player-photo img {
  width: 100%;
  height: auto;
}

.player-card {
    width: 260x !important; /* Test taking this out */
    max-width: 260px !important;
    height:460px !important;
}

.pitcher-player-card {
    width: 260x !important; /* Test taking this out */
    max-width: 260px !important;
    height:440px !important;
}

.indiv-stats-player-card {
    max-width: 215px !important;
}

.indiv-stats-player-card:hover {
  cursor: pointer;
}

#canvas-svg {
  border-radius: 0.28571429rem 0.28571429rem 0em 0em !important; 
}

.filter-blurb {
  background-color:white;
}

/*.disabled-click-chart {
  pointer-events: none;
}*/

.hitter-chart-container {
  margin-top:20px;
}

.selected-hitter-stat-display {
  margin-left:60px;
}

.pitcher-chart-container {
  margin-top: 10px;
}

.pitcher-small-chart {
  margin-top:10px;
}

.selected-pitcher-stat-display {
  margin-left:30px;
}

.chart-row {
/*    background-color: white !important;*/
}

.second-chart-row {
  margin-top: 40px;
}

.charts {
    background-color: white;
    border-radius: 0.28571429rem 0.28571429rem 0.28571429rem 0.28571429rem !important;
}

.sorted-on {
  background-color: #D3D3D3;
}

/* Season stats */

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-red,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-red {
  color: #fff;
  background: #B90F18;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-blue,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-blue {
  color: #fff;
  background: #1754A2;
}

.table-container {
  margin-top: 40px;
}

.hitter-table {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.pitcher-table {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  display: none;
}

.hitter-th, .pitcher-th {
  white-space: pre;
  cursor: pointer !important;
  background-color: rgb(80, 80, 80) !important;
  color:white !important;
}

.hitter-th-no-sort, .pitcher-th-no-sort {
  background-color: rgb(80, 80, 80) !important;
  color:white !important;
}

.hitter-th > small, .pitcher-th > small {
  visibility: hidden;
  margin-left:5px;
}

.hitter-th:hover > small, .pitcher-th:hover > small {
  visibility: visible;
}

.hitter-tr:hover {
    background-color: #d3d3d3;
}

.pitcher-th:hover .sort-pitcher {
  visibility: visible;
}

.pitcher-tr:hover {
    background-color: #d3d3d3;
}

/* Hitter Game Log Table */

#game-log-table-container {
  margin-top:20px;
  padding-left:0;
  margin-left:0
}

.game-log-table {
  margin-bottom: 60px !important;
}

/* Individual Stats Index Page */
.card-container {
  padding-top: 20px;
}

/* About page */

#about-info-container {
  background-color:rgba(255, 255, 255, 0.5);
}

#about-img-container {
   padding-left:0;
   margin-left:-15px
}

#about-img {
  height:400px;
   width:300px;
}

#about-txt-container {
  margin-top:40px;
}

.more-about-txt {
  margin-top:5px;
}
