<!-- Take out small and span if not going to enable sorting -->
<tr id="{{ forloop.counter }}">
   <th class="hitter-th">Date<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">AB<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">H<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">2B<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">3B<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">HR<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">RBI<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">K<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">BB<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">AVG<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">OBP<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">SLG<small class="sort-hitter"><span class="glyphicon"></span></small></th>
   <th class="hitter-th">wRC+<small class="sort-hitter"><span class="glyphicon"></span></small></th>
</tr>

