<tr>
	<th class="hitter-th" data-stat="date">Date<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="ab">AB<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="h">H<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="2b">2B<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="3b">3B<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="hr">HR<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="rbi">RBI<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="k">K<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="bb">BB<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="avg">AVG<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="obp">OBP<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="slg">SLG<small><span class="glyphicon glyphicon-sort"></span></small></th>
	<th class="hitter-th" data-stat="wrc_plus">wRC+<small><span class="glyphicon glyphicon-sort"></span></small></th>
</tr>
