{% extends "rangerstats/player-template.html" %} 
{% load static %}
{% block content %}

<div class="row">
   <div class="col-xs-3">
      <div class="ui card player-card">
         <div class="image player-photo">
            {% with "rangerstats/assets/"|add:player.first_name|add:"_"|add:player.last_name|add:".jpg" as image %}
            <img src="{% static image %}">
            {% endwith %}
         </div>
         <div class="content">
            <div class="header">{{ player.first_name }} {{ player.last_name }}</div>
            <div class="meta">
            </div>
            <div class="description">
               {{player.position}}<br>
               B/T: {{ player.bat }}/{{player.throw}}<br>
               {{player.height}}/{{ player.weight }}<br>
               Age: {{player.age}}
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-9 charts">
      <div id="canvas-svg">
         <div class="col-xs-12" >
            <div class="chart-row"> 
               <div class="chart-group">
                  <p class="filter-blurb">Drag to filter by game</p>
                  <div id="ab-bar-chart" class="chart"></div>
               </div>
            </div>
         </div>
         <div class="chart-row second-chart-row">
            <div class="col-xs-12">
               <div class="chart-group">
                  <div class="col-xs-4 hitter-chart-container">
                     <div id="selected-hits" class="selected-hitter-stat-display"></div>
                     <div id="hit-bar-chart" class="chart disabled-click-chart"></div>
                  </div>
                  <div class="col-xs-4 hitter-chart-container">
                     <div id="selected-avg" class="selected-hitter-stat-display"></div>
                     <div id="avg-chart" class="chart disabled-click-chart"></div>
                  </div>
                  <div class="col-xs-4 hitter-chart-container">
                     <div id="selected-ops" class="selected-hitter-stat-display"></div>
                     <div id="ops-chart" class="chart disabled-click-chart"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-xs-3"></div>
   <div class="col-xs-9" id="game-log-table-container">
      <table class="ui celled table game-log-table">
      <thead>
         <tr>
            <th class="hitter-th" data-stat="date">Date<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="ab">AB<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="h">H<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="2b">2B<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="3b">3B<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="hr">HR<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="rbi">RBI<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="k">K<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="bb">BB<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="avg">AVG<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="obp">OBP<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="slg">SLG<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th" data-stat="wrc_plus">wRC+<small><span class="glyphicon glyphicon-sort"></span></small></th>
         </tr>
      </thead>
      <tbody>
         {% for record in game_log %}
            {% if forloop.counter|divisibleby:10 and forloop.counter < 40 %}
                  {% include "rangerstats/hitter-th-row-with-sort.html" %}
            {% elif forloop.counter|divisibleby:10 %}
                  {% include "rangerstats/hitter-th-row-without-sort.html" %}
            {% endif %}
            {%  if forloop.counter < 40 %}
               {% include "rangerstats/hitter-visible-row.html" %}
            {% else %}
               {% include "rangerstats/hitter-hidden-row.html" %}
            {% endif %}
         {% endfor %}
      </tbody>
   </table>
   </div>

</div>

<script type="text/javascript" src="{% static "rangerstats/js/hitter-charts.js" %}"></script>
<script type="text/javascript">
   displayCharts({{ game_log_json|safe }}, {{ season_stats_json|safe }});
</script> 
<script type="text/javascript" src="{% static "rangerstats/js/hitter.js" %}"></script>
{% endblock %}