
<tr>
	<th class="pitcher-th" data-stat="date">Date<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="w">W<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="l">L<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="ip">IP<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="bf">BF<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="er">ER<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="r">R<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="h">H<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="bb">BB<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="k">K<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="hr">HR<small><span class="glyphicon"></span></small></th><!-- 
	<th class="pitcher-th" data-stat="era">ERA<small><span class="glyphicon"></span></small></th>
	<th class="pitcher-th" data-stat="fip">FIP<small><span class="glyphicon"></span></small></th> 
	<th class="pitcher-th" data-stat="xfip">xFIP<small><span class="glyphicon"></span></small></th> 
	-->
</tr>