<tr class="pitcher-tr" id="hidden-row-{{ forloop.counter }}" style="display: none">             
   <td class="date">{{ record.game_date|date:"Y-m-d" }}</td>
   <td class="w">{{ record.w }}</td>
   <td class="l">{{ record.l }}</td>
   <td class="ip">{{ record.ip }}</td>
   <td class="bf">{{ record.bf }}</td>
   <td class="er">{{ record.er }}</td>
   <td class="r">{{ record.r }}</td>
   <td class="h">{{ record.h }}</td>
   <td class="bb">{{ record.bb }}</td>
   <td class="k">{{ record.k }}</td>
   <td class="hr">{{ record.bb }}</td>
<!--    <td class="era">{{ record.era|floatformat:2 }}</td>
   <td class="fip">{{ record.fip|floatformat:2 }}</td>
   <td class="xfip">{{ record.xfip|floatformat:2 }}</td> -->
</tr>