{% extends "rangerstats/player-template.html" %} 
{% load static %}
{% block content %}

<input type="hidden" id="date-sort-order" value="0">
<input type="hidden" id="w-sort-order" value="0">
<input type="hidden" id="l-sort-order" value="0">
<input type="hidden" id="ip-sort-order" value="0">
<input type="hidden" id="bf-sort-order" value="0">
<input type="hidden" id="er-sort-order" value="0">
<input type="hidden" id="r-sort-order" value="0">
<input type="hidden" id="h-sort-order" value="0">
<input type="hidden" id="bb-sort-order" value="0">
<input type="hidden" id="k-sort-order" value="0">
<input type="hidden" id="hr-sort-order" value="0">

<div class="row">
   <div class="col-xs-3">
      <div class="ui card player-card">
         <div class="image player-photo">
            {% with "rangerstats/assets/"|add:player.first_name|add:"_"|add:player.last_name|add:".jpg" as image %}
            <img src="{% static image %}">
         {% endwith %}
         </div>
         <div class="content">
            <div class="header">{{ player.first_name }} {{ player.last_name }}</div>
            <div class="meta">
            </div>
            <div class="description">
               {{player.position}}<br>
               B/T: {{ player.bat }}/{{player.throw}}<br>
               {{player.height}}/{{ player.weight }}<br>
               Age: {{player.age}}
            </div>
         </div>
      </div>
   </div>


   <div class="col-xs-9 charts">
      <div id="canvas-svg">
         <div class="col-xs-12">
            <div class="chart-row">
               <div class="chart-group">
                  <p class="filter-blurb">Drag to filter by game</p>
                  <div id="ip-chart" class="chart"></div>
               </div>
            </div>
            <div class="chart-row second-chart-row">
            <div class="col-xs-12">
               <div class="chart-group">
                  <div class="col-xs-3">
                     <div id="whip-chart" class="chart"></div>
                  </div>
                 <div class="col-xs-3">
                     <div id="k-ratio-chart" class="chart"></div>
                  </div>
                   <div class="col-xs-3">
                     <div id="bb-ratio-chart" class="chart"></div>
                  </div> 
                  <div class="col-xs-3">
                     <div id="era-chart" class="chart"></div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div>
   <div class="col-xs-3"></div>
   <div class="col-xs-9" id="game-log-table-container">
      <table class="ui celled table game-log-table">
      <thead>
         <tr>
            <th class="pitcher-th" data-stat="date">Date<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="w">W<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="l">L<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="ip">IP<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="bf">BF<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="er">ER<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="r">R<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="h">H<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="bb">BB<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="k">K<small><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th" data-stat="hr">HR<small><span class="glyphicon glyphicon-sort"></span></small></th>
         </tr>
      </thead>
      <tbody>
         {% for record in game_log %}
            {% if forloop.counter|divisibleby:10 and forloop.counter < 40 %}
                  {% include "rangerstats/pitcher-th-row-with-sort.html" %}
            {% elif forloop.counter|divisibleby:10 %}
                  {% include "rangerstats/pitcher-th-row-without-sort.html" %}
            {% endif %}
            {% include "rangerstats/pitcher-visible-row.html" %}
         {% endfor %}
      </tbody>
   </table>
   </div>
</div>

<script type="text/javascript" src="{% static 'rangerstats/js/pitcher-charts.js' %}"></script>
<script type="text/javascript">
   displayCharts({{ game_log_json|safe }});
</script>
<script type="text/javascript" src="{% static 'rangerstats/js/pitcher.js' %}"></script>
{% endblock %}