{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="google" value="notranslate">

    
      <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script> -->

      <!-- D3, Crossfilter, and DC -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
      <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-alpha.5/dc.css" rel="stylesheet">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-alpha.5/dc.js"></script>
      <!-- JQuery  -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reductio/0.6.3/reductio.js"></script> -->
      <!-- Bootstrap -->
      <script type="text/javascript" src="{% static "rangerstats/bootstrap-3.3.6/js/bootstrap.min.js" %}"></script>
      
  <title>Ranger Stats</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "rangerstats/bootstrap-3.3.6/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Custom CSS -->

<!--    <link type="text/css" href="../../static/site.css" rel="stylesheet">
   <link type="text/css" href="../../static/card.css" rel="stylesheet">
   <link type="text/css" href="../../static/table.min.css" rel="stylesheet"> -->

   <link type="text/css" href="{% static "rangerstats/site.css" %}" rel="stylesheet">
   <link type="text/css" href="{% static "rangerstats/card.css" %}" rel="stylesheet">
   <link type="text/css" href="{% static "rangerstats/table.min.css" %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    </head>

    <body class="player-body">

   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ranger Stats</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/TeamStats/">Team Stats</a></li>
            <li><a href="#">Individual Stats</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="container"  >

           {% block content %}
           {% endblock %}

      </div> 

<!--       <div class="footer navbar-fixed-bottom">
        Footer Footer
      </div> -->
      
      </body>
</html>