{% extends "rangerstats/main-template.html" %} 
{% load static %}
{% block content %}

<link href='{% static "rangerstats/bootstrap-switch.min.css" %}' type="text/css" rel="stylesheet"></link>
<script type="text/javascript" src="{% static "rangerstats/js/bootstrap-switch.js" %}"></script>
<script type="text/javascript" src="{% static "rangerstats/js/teamstats.js" %}"></script>

<div class="row">
   <div class="col-xs-1"></div>
   <div class="col-xs-10 table-container">

   <input type="checkbox" id="table-switch" data-on-text="Hitting" data-off-text="Pitching" checked>

   <table class="ui celled table hitter-table">
      <thead>
         <tr>
            <th class="hitter-th-no-sort">Player</th>
            <th class="hitter-th">G<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">AB<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">H<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">1B<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">2B<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">3B<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">HR<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">RBI<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">K<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">BB<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">AVG<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">OBP<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">SLG<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">OPS<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="hitter-th">WAR<small class="sort-hitter"><span class="glyphicon glyphicon-sort"></span></small></th>
         </tr>
      </thead>
      <tbody>
         {% for hitter, hitter_stats in hitter_stats_dict.items %}
            <tr class="hitter-tr">
               <td class="hitter name"><a class="link" href="/rangerstats/hitter/{{ hitter.id }}">{{ hitter.first_name }} {{hitter.last_name}}</a></td>
               <td class="hitter g">{{ hitter_stats.g }}</td>
               <td class="hitter ab">{{ hitter_stats.ab }}</td>
               <td class="hitter h">{{ hitter_stats.h }}</td>
               <td class="hitter 1b">{{ hitter_stats.single }}</td>
               <td class="hitter 2b">{{ hitter_stats.double }}</td>
               <td class="hitter 3b">{{ hitter_stats.triple }}</td>
               <td class="hitter hr">{{ hitter_stats.hr }}</td>
               <td class="hitter rbi">{{ hitter_stats.rbi }}</td>
               <td class="hitter k">{{ hitter_stats.k }}</td>
               <td class="hitter bb">{{ hitter_stats.bb }}</td>
               <td class="hitter avg">{{ hitter_stats.avg|floatformat:3 }}</td>
               <td class="hitter obp">{{ hitter_stats.obp|floatformat:3 }}</td>
               <td class="hitter slg">{{ hitter_stats.slg|floatformat:3 }}</td>
               <td class="hitter ops">{{ hitter_stats.ops|floatformat:3 }}</td>
               <td class="hitter war">{{ hitter_stats.war|floatformat:2 }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>

   <table class="ui celled table pitcher-table">
      <thead>
         <tr>
            <th class="pitcher-th-no-sort">Player</th>
            <th class="pitcher-th">G<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">W<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">L<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">SV<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">IP<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">WHIP<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">K/9<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">K<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">BB/9<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">HR/9<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">BABIP<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">ERA<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">FIP<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">xFIP<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
            <th class="pitcher-th">WAR<small class="sort-pitcher"><span class="glyphicon glyphicon-sort"></span></small></th>
         </tr>
      </thead>
      <tbody>
         {% for pitcher, pitcher_stats in pitcher_stats_dict.items %}
            <tr class="pitcher-tr">
               <td class="pitcher name"><a class="link" href="/rangerstats/pitcher/{{ pitcher.id }}">{{ pitcher.first_name }} {{pitcher.last_name}}</a></td>
               <td class="pitcher g">{{ pitcher_stats.g }}</td>
               <td class="pitcher w">{{ pitcher_stats.w }}</td>
               <td class="pitcher l">{{ pitcher_stats.l }}</td>
               <td class="pitcher sv">{{ pitcher_stats.sv }}</td>
               <td class="pitcher ip">{{ pitcher_stats.ip }}</td>
               <td class="pitcher whip">{{ pitcher_stats.whip|floatformat:2 }}</td>
               <td class="pitcher k9">{{ pitcher_stats.k_per_nine|floatformat:2 }}</td>
               <td class="pitcher k">{{ pitcher_stats.k }}</td>
               <td class="pitcher bb9">{{ pitcher_stats.bb_per_nine|floatformat:2 }}</td>
               <td class="pitcher hr9">{{ pitcher_stats.hr_per_nine|floatformat:2 }}</td>
               <td class="pitcher babip">{{ pitcher_stats.babip|floatformat:3 }}</td>
               <td class="pitcher era">{{ pitcher_stats.era|floatformat:2 }}</td>
               <td class="pitcher fip">{{ pitcher_stats.fip|floatformat:2 }}</td>
               <td class="pitcher xfip">{{ pitcher_stats.x_fip|floatformat:2 }}</td>
               <td class="pitcher war">{{ pitcher_stats.war|floatformat:2 }}</td>
            </tr>
         {% endfor %}
      </tbody>
   </table>

   </div>
   <div class="col-xs-1"></div>
</div>

{% endblock %}